.slide-container {
  margin-top: 80px;
}
.body{
  background-color: bisque;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.blogImage{
  width:90%;
  height:600px;
  margin-top: 20px;
    display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 7px;
}
.uppereditor{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5em;
}

.editor {
  margin-right: 10em;
}

.ck-editor__editable_inline {
  min-height: 500px;
}
input[type=file]::file-selector-button {
  border: 2px solid ;  
  border-radius: 5px;
  background-color: #ff9100;
  /* transition: 1s; */
  color: white;
  /* margin-bottom: 15px; */
}

.nav-menu-icon{
  display: none;
}
.nav-search-bar{
  display:flex;
  align-items: center;
  flex-grow: 1;
}
.nav-buttons{
  display: flex;
  align-items: center;
}
.blogcard-box{
  display:flex; 
  align-items: center;
  margin: 20px;
}
.blogcard-image{
  background-color: "#1fef";
  height: 26vh;
  width: 20vw;
  z-index: 1;
  /* background-image:url(https://images.unsplash.com/photo-1536987333706-fc9adfb10d91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); */
  background-repeat: no-repeat;
  background-size: 20vw 26vh;
  box-shadow: 3px 3px 8px grey;
  border-radius: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.blogcard-info{
  width: 36vw;
  height: 32vh;
  align-items: center;
  margin-left: -11vw;
  box-shadow: 3px 3px 8px grey;
  border: 1px solid grey;
}
.blogcard-cardcontent{
  margin-left: 11vw;
  display: flex;
  flex-direction: column;
}
.blogcard-cardactions{
  margin-left:12vw;
  margin-top:2vh;
}
.blogcards{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.sidebar{
  width:25vw;
  margin-top: 140px; 
  margin-left: 71vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, red, #ff9100);
  border-radius: 5px;
  z-index: 200;
  padding-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(215, 200, 155);
  position: fixed;
}
.sidebar-large{
  width:25vw;
  margin-top: 330px; 
  margin-left: 71vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, red, #ff9100);
  border-radius: 5px;
  z-index: 200;
  padding-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(215, 200, 155);
  position: fixed;
}
.sidebar-buttons{
  width:85%;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #efefef;
}
.sidebar-buttons:hover{
  width:95%;
}
.sidebar-buttons>h3{
  color: black;
  margin: 5px;
}
.sidebar-close-icon{
  margin-top: 4px;
  margin-left: 88%;
}
.signup{
  width: 65vw;
  background-color:white;
  padding: 2%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  box-shadow: 2px 2px 6px grey;
  background-image: url("./Images/5532862.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.profile-box{
  width: 50vw;
  background-color:white;
  padding: 5% 2%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  box-shadow: 2px 2px 6px grey;
  border:8px solid #ff9100;
}
.profile-image{
  width:15vw;
  height:15vw;
  border-radius: 50%;
  border:12px solid #efefef;
  background-size: 15vw 15vw;
  background-repeat: no-repeat;
}
.profile-mail-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(208, 227, 227);
  padding: 10px 14px;
  border-radius: 10px;
}
.profile-mail-div>h4{
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 1020px) {
  .nav-menu-icon{
    display: block;
  }
  .nav-buttons{
    display:none;
  }
}
@media screen and (max-width: 1020px) {
  .blogcards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blogcard-image{
    width:40vw;
    height: 26vh;
    background-size: 50vw 26vh;
  }
  .blogcard-info{
    width: 66vw;
    margin-left: -20vw;
  }
  .blogcard-cardcontent{
    margin-left: 20vw;
  }
  .blogcard-cardactions{
    margin-left:22vw;
  }
}
/* @media screen and (max-width: 870px) {
  .blogcard-image{
    width:40vw;
    height: 26vh;
    background-size: 50vw 26vh;
  }
  .blogcard-info{
    width: 50vw;
  }
} */
@media screen and (max-width: 720px) {
  .sidebar{
    width:40vw;
    margin-left: 54vw;
  }
  .sidebar-large{
    width:40vw;
    margin-left: 54vw;
  }
}
@media screen and (max-width: 650px) {
  .nav-menu-icon{
    display: block;
  }
  .nav-buttons{
    display:none;
  }
  .profile-box{
    width:70vw;
  }
  .profile-image{
    width: 20vw;
    height: 20vw;
    background-size: 20vw 20vw;
  } 

}
@media screen and (max-width: 620px) {
  .sidebar{
    width:30vw;
    margin-left: 64vw;
  }
  .sidebar-large{
    width:30vw;
    margin-left: 64vw;
  }
}
@media screen and (max-width: 600px) {
  .blogcard-box{
    flex-direction:column;
  }
  .blogcard-image{
    width:64vw;
    height: 22vh;
    background-size: 64vw 22vh;
  }
  .blogcard-info{
    width: 80vw;
    margin-left: 0;
    margin-top: -11vh;
  }
  .blogcard-cardcontent{
    margin-top:11vh;
    margin-left: 0px;
  }
  .blogcard-cardactions{
    margin-top:-2vh;
    margin-left: 0px;
  }
}
@media screen and (max-width: 420px) {
  .sidebar{
    width:40vw;
    margin-left: 54vw;
  }
  .sidebar-large{
    width:40vw;
    margin-left: 54vw;
  }
  .profile-box{
    width:70vw;
  }
  .profile-image{
    width: 24vw;
    height: 24vw;
    background-size: 24vw 24vw;
  } 

}
@media screen and (max-width: 320px) {
  .sidebar{
    width:50vw;
    margin-left: 44vw;
  }
  .sidebar-large{
    width:50vw;
    margin-left: 44vw;
  }
  .signup{
    width:75vw;
  }
 
  /* .profile-image{
    width: ;
    height: ;
    background-size: ;
  } */
}